.server-sidebar {
  width:200px;
  background-color: #1b1b1b;
  color: #e0e0e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 15px; /* Reduced padding */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  // background-color: #1e1e1e;
  // color: white;
  // width: 250px;
  // padding: 20px;
}

.server-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.settings-container {
  position: relative;
}

.settings-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 150px;
}

.dropdown-item {
  color: white;
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: #444;
  }
}

.category {
  margin-top: 15px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #aaa;
}

.channel-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #ccc;
}

.add-icon, .category-settings-icon, .channel-settings-icon {
  margin-left: 8px;
  cursor: pointer;
  color: #888;
}
