<div class="server-sidebar">
  <!-- Sidebar Content -->
  <div class="sidebar-content">
    <div class="server-header">
      <div class="server-name">{{ serverName }}</div>
      <div class="settings-container">
        <span class="settings-icon" (click)="toggleDropdown()">⚙️</span>
        <div class="dropdown-menu server-settings" *ngIf="showDropdown">
          <div *ngIf="hasAdminPrivileges" class="dropdown-item" (click)="createCategory()">Create New Category</div>
          <div *ngIf="hasAdminPrivileges" class="dropdown-item" (click)="openServerSettings()">Server Settings</div>
          <div class="dropdown-item leave" (click)="leaveServer()">Leave Server</div>
        </div>
      </div>
    </div>

    <!-- List of Categories and Channels -->
    <div *ngFor="let category of filteredCategories" class="category">
      <div class="category-header">
        <span class="category-name">{{ category.name }}</span>
        <span *ngIf="hasAdminPrivileges" class="add-icon" (click)="navigateToCreateChannel(category)">+</span>
        <div class="category-settings-container">
          <span *ngIf="hasAdminPrivileges" class="category-settings-icon" (click)="toggleCategoryDropdown(category)">⚙️</span>
          <div class="dropdown-menu category-setting" *ngIf="category.showSettingsDropdown">
            <div class="dropdown-item" (click)="openCategorySettings(category)">Category Settings</div>
            <div class="dropdown-item delete" (click)="deleteCategory(category)">Delete Category</div>
          </div>
        </div>
      </div>

      <!-- Channels -->
      <div *ngFor="let channel of category.channels" class="channel-item">
        <div (click)="selectChannel(category._id, channel._id)" class="channel-item">#{{ channel.channelName }}</div>
        <div class="channel-settings-container">
          <span *ngIf="hasAdminPrivileges" class="channel-settings-icon" (click)="toggleChannelDropdown(channel)">⚙️</span>
          <div class="dropdown-menu channel-setting" *ngIf="channel.showSettingsDropdown">
            <div class="dropdown-item" (click)="openChannelSettings(channel, category._id, channel._id)">Update Channel</div>
            <div class="dropdown-item delete" (click)="deleteChannel(channel)">Delete Channel</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Home Button -->
  <div class="home-button-container">
    <button class="home-button" (click)="navigateHome()">Home</button>
  </div>
</div>
