<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="categoryName">Category Name:</label>
    <input
      id="categoryName"
      type="text"
      [(ngModel)]="categoryData.name"
      name="categoryName"
      required
      class="form-control"
    />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Read</th>
        <th>Write</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of categoryData.allowedRoles">
        <td>{{ role.role }}</td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="role.read"
            name="read_{{ role.role }}"
          />
        </td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="role.write"
            name="write_{{ role.role }}"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Create Category</button>
</form>
