
<!-- <main  class="main-container">
  <section class="left-section">
    <h1>Eduverse</h1>
    <p>Enhancing your collaborative learning</p>
  </section>

  <section class="right-section">
    <div class="auth-panel">
      <div class="tab-buttons">
        <button class="tab-button" [routerLink]="['/auth/signIn']">Sign In</button>
        <button class="tab-button" [routerLink]="['/auth/signUp']">Sign Up</button>
      </div>
      <div class="form-container">
        <router-outlet></router-outlet> 
      </div>
    </div>
  </section>
</main> -->

<router-outlet></router-outlet>

